body {
  margin: 0;
  width: 100%;
  background-color: #375b7a;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label, input {
  display: block;
  margin: 10px;
  font-size: 20px;
  color:white
}

input {
  padding: 10px;
  width: 100%;
  height: 2vh;
  max-width: 95vw; /* Adjust the width as needed */
  margin: auto; 
  border-radius: 10px;/* Adjust the width as needed */
  font-size: 18px;
  color: black;

}

.form {
  max-width: 50vw;
  min-height: 100vh;  /* You can adjust this */
  margin: 10px auto;  
  padding: 10px;  /* Centers the form */
  font-size: medium;
  background-color: #375b7a;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn {
  padding: 10px 15px;
  background-color: #4CAF50; /* You can change the color */
  color: white;
  border: none;
  font-size: medium;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: -20px;
  border-radius: 10px;
  width: 10vw;
}

.btn:hover {
  background-color: #45a049; /* Slightly darker on hover */
}

.image-section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #fff;
}

.image-section h2 {
  margin-bottom: 10px;
}

.image-section label {
  margin-right: 10px;
}

.preview {
  margin-top: 10px;
}

.preview img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group label {
  margin-right: 20px;
}

.top-images {
  display: flex;
  justify-content: space-between; /* Align images to left and right */
  align-items: center;
  margin-bottom: 10px; /* Space below the images */
}
.bmwgroup {
  width: 100px; /* Adjust the width as needed */
  height: auto;
  margin: 10px /* Maintain aspect ratio */;
  margin-bottom: 5px /* Maintain aspect ratio */
}
.logo {
  width: 150px; /* Adjust the width as needed */
  height: auto;
  margin: 10px /* Maintain aspect ratio */;
  margin-bottom: 5px /* Maintain aspect ratio */

}

.form-header {
  text-align: center; /* Centers the text horizontally */
  margin-bottom: 20px; /* Adds space below the header */
  font-size: smaller;
}

.camera-status {
  margin: 10px;
  color: white
}
.error {
  margin: 10px;
  color: red;
}
.success{
  margin: 10px;
  color: green;
}
.form-header {
  color: white
}
